.TopbarLayout {
  padding: 16pt;
  display: flex;
  border-bottom: thin solid #333;
  width: 100%;
  box-sizing: border-box
}

.TopbarLayoutContentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.TopbarLayoutURIFormContainer {
    flex: 1 1 auto;
    width: 100%;
}

.TopbarLayoutRightGroupContainer {
    flex: none;
    margin-left: 16pt;
}

.TopbarDatabaseURIForm {
    max-width: 1200px;
}