.MainLayoutContainer {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainLayoutContentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.MainLayoutTopbarContainer {
  flex: none;
}

.MainLayoutViewerContainer {
  flex: 1 1 auto;
  width: 100%;
  max-height: 100%;
}
